body{
    background-color: antiquewhite;
    color: rgb(170, 0, 182);
}

.heading{
    width: 80%;
    font-size: 22px;
}

#camera{
    border: 2px dashed green; 
    width: 350px;
    height: 300px;
}

.name_of_objects, #resultObjectName, #resultObjectAccuracy{
    color: rgb(37, 184, 184);
}

